{
  ApplicationName = "CurrencyConverter";
  ApplicationDescription = "A Little GNUstep GUI Demo";
  ApplicationRelease = "CurrencyConverter 1.1";
  FullVersionID = "1.1.0 Sep 2001";
  Authors = ("Laurent Julliard <laurent@julliard-online.org> for Ruby",
	     "Nicola Pero <n.pero@mi.flashnet.it>" );
  Copyright = "Copyright (C) 1999, 2000, 2001 Free Software Foundation, Inc.";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
}
